<div class="container mt-2">
    <p class="font">Contact Us</p>
    <div class="row">

        <div class="col-4">
            Gurgaon (Head Office)
            <hr>
            <div class="col-8">
                MakeMyTrip India Pvt. Ltd.,
                DLF Building No. 5 Tower B
                DLF Cyber City, DLF Phase 2
                Sector 25, Gurugram, Haryana 122002, India
            </div>
            <div class="col-4">
                Fixed Line:
                (0124) 4628747
                (0124) 5045105
                (0124) 2898000
            </div>

        </div>
        <div class="col-8">

        </div>


    </div>
</div>

<p></p>