<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 margin-top">
        <div class="card auth">
            <div class="card-body auth-card">
                <form #form ="ngForm" (ngSubmit)="signup(form)" novalidate>
                    <div class="form-group">
                        <label for="name">Name : </label>
                        <input type="text" name="name" class="form-control" #name="ngModel" placeholder="Enter Name"
                            [(ngModel)]="signupForm.name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="text" name="email" #email="ngModel" class="form-control" placeholder="Enter Email"
                            [(ngModel)]="signupForm.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" name="password" #password="ngModel" class="form-control" placeholder="Enter password"
                            [(ngModel)]="signupForm.password" required>
                    </div>
                    <div class="text-center">
                        <button class="bg-primary mt-2 btn" type="submit" [disabled]="form.invalid">Signup</button>
                    </div>
                    <div class="text-center login">
                        Already have an account ? <a routerLink="/login">Login</a> here
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
